<li>
  <%= gravatar_for user, size: Settings.user_avatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("delete"), user, data: { "turbo-method": :delete,turbo_confirm: t("msg.you_sure") } %>
  <% end %>
</li>
