<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to Settings.app_name, "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), "#" %></li>
        <li><%= link_to t("header.help"), "#" %></li>
        <li><%= link_to t("header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
